html {
    font-size: 62.5%;
}

*,  *::before, *::after {
    margin: 0;
    padding: 0; 
    box-sizing: inherit;
}

.calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 70px;
    padding: 40px;
    width: 400px;
    border-radius: 25px;
    background-color: black;
}

#display {
    width: 96.8%;
    font-size: 5rem;
    height: 80px;
    border: none;
    background-color: white;
    color: black;
    text-align: right;
    padding-right: 10px;
}


.calc-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    padding-bottom: 5px;
}


button {
    height: 60px;
    background-color: white;
    border: none;
    border-radius: 35px;
    font-size: 4rem;
    font-weight: bold;
    color: black;
    margin: 7px;
    padding: 5px;
    flex: 1 0 18%;
}


.clear {
    background-color: rgb(214, 3, 3);
    color: white;
    font-size: 3rem;
}

button:hover {
    background-color: rgb(138, 138, 138);
}